.skillsmain {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
  }
  .skillscontainer {
    align-items: flex-start;
    margin: 0 180px;
    max-width: 1160px;
  }
  .skillscontainer,
  .skillscontainer .skillsleft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .skillscontainer .skillsleft {
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    width: 53%;
  }
  .skillscontainer .skillsleft .skill {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 190px;
  }
  .skillscontainer .skillsleft img {
    margin-right: 10px;
    width: 30px;
  }
  .skillscontainer .skillsright {
    color: #000;
    width: 40%;
  }
  .skillscontainer .skillsright h2 {
    font-family: var(--title-font-hero);
    font-size: var(--normal-heading-font-size);
    font-weight: 700;
    margin-top: 0;
  }
  .skillscontainer .skillsright p {
    font-family: var(--subtitle-font-hero);
    font-size: var(--normal-subheading-font-size);
  }
  @media only screen and (max-width: 776px) {
    .skillsmain {
      background-color: var(--white);
      padding: 10px 0;
      width: 100%;
    }
    .skillscontainer {
      align-items: flex-start;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      margin: 10px 0;
    }
    .skillscontainer .skillsleft {
      align-items: center;
      background-color: #fff;
      border-radius: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 0;
      padding: 10px 0;
      width: 100%;
    }
    .skillscontainer .skillsleft .skill {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 180px;
    }
    .skillscontainer .skillsleft img {
      margin: 0 10px;
      padding: 5px;
      width: 30px;
    }
    .skillscontainer .skillsleft p {
      font-size: 14px;
    }
    .skillscontainer .skillsright {
      color: #000;
      width: 100%;
    }
    .skillscontainer .skillsright h2 {
      font-size: 30px;
      padding: 0 20px;
      text-align: center;
    }
    .skillscontainer .skillsright p {
      padding: 0 20px;
      text-align: center;
    }
  }
  @media (min-width: 777px) {
    .skillscontainer {
      margin: 0 120px;
      max-width: 1140px;
    }
  }